
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }


body {
    background-color: rgb(44, 76, 104);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}